.tickets {
  height: 90%;
  display: flex;
  flex-direction:row;
  flex-grow: 2;

}

h3 {
  text-align:center;
}

.ticket-mat-card {
  padding: 5px;
}

.ticket-desc {
  grid-column: 1/3;
  grid-row: 1;
  font-size: medium;
  border-bottom: solid 1px black;
  word-wrap: break-word;
  word-break: break-all;
}

.ticket-creator {
  grid-column: 1;
  grid-row: 2;
}

.ticket-date {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}

.ticket-prio {
  text-align: right;
  grid-column: 3;
  grid-row: 2;
}

.ticket-assignee {
  grid-column: 1;
  grid-row: 3;
}

.ticket-position {
  text-align: right;
  border-bottom: solid 1px black;
  grid-column: 3;
  grid-row: 1;
}

.selfassigned {
  background-color: #43A047;
}
.otherassigned {
  background-color: #F4511E;
}
