h3 {
  text-align:center;
}

.sepa {
  border: 1px dashed #B1B1B1;
  width: 99%
}

.ticket-list {
  height: 90%;
  display: flex;
  flex-direction:column;
  flex-grow: 2;
  margin-left: 5%;
  margin-right: 5%;
}

.list-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  mat-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.ticket {
  padding: 5px;
  margin: 5px;
}


