.list-container {
  overflow: hidden;
}
h3 {
  text-align:center;
}

.list-header {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  padding: 5px;
  font-size: 18px;
  margin-right: 10px;
  mat-icon {
    padding-right: 8px;
  }
}
