.list-container {
  overflow: hidden;
}

.list-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
  font-size: 18px;
  margin-right: 10px;
  mat-icon {
    padding-right: 8px;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-right: 5%;
  margin-left: 5%;
  height: 100%;
}

.user-list-entries {
  overflow: hidden;
  height: 100%;
}

.user-list-other {
  height: calc(100% - 63px);
  overflow: auto;
}

.user {
  height: 24px;
  margin: 12px 5px 5px 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  .meta {
    > * {
      margin-left: 8px;
    }
    > .tiny {
      font-size: small;
    }
    .state {
      text-align: center;
      line-height: 30px;
    }
    .call:hover {
      cursor: pointer;
      color: green;
    }
  }
  span {
    display: flex;
    align-items: center;
  }
  .user-item {
    width: 100%;
    margin: 0;
    .subtext-role {
      float: right;
    }
    p {
      margin: 2px;
    }
  }
}
