<div class="user-list">
  <h3>Online Nutzer</h3>

  <mat-list>
    <mat-card class="user" *ngFor="let user of sortUsers(this.users)">
      <p class="user-item">{{user.fullName}}<span class="subtext-role"><sub>{{
          parseCourseRole(user.userRole)}}</sub></span></p>
      <span class="meta">
          <mat-icon *ngIf="this.classroomService.isCurrentUserPrivileged() && !classroomService.isSelf(user)"
                    class="material-icons call" color="accent" (click)="this.classroomService.inviteToConference(user)">call</mat-icon>
          <mat-icon *ngIf="user.conferences.length !== 0" class="material-icons call" color="accent" (click)="this.classroomService.chooseConferenceOfUser(user)">phone_callback</mat-icon>
        <!-- <mat-icon *ngIf="classroomService.isInConference(user) && !classroomService.hasOpenConference(user)" class="material-icons call" color="accent" (click)="joinConference(classroomService.isInConference(user).creator)">meeting_room</mat-icon> -->
        </span>
    </mat-card>
  </mat-list>
</div>
