.error-backdrop {
  background: rgb(139 11 0 / 32%);
}

.overlay {
  text-align: center;
}

p {
  text-align: center;
}

.overlay {
  flex-flow: column nowrap;
  align-items: center;
}

mat-action-row {
  alignment: center;
}

button {
  background-color: rgb(139 11 0 / 32%);
  margin-right: 5px;
  margin-left: 5px;
}
