<h2 mat-dialog-title>Neue Konferenz erstellen</h2>
<div class="dialog">
  <mat-dialog-content>
    <form [formGroup]="form" class="grid-container">
      <mat-form-field appearance="fill">
        <mat-label>Konferenz Name</mat-label>
        <input matInput type="text" [formControl]="conferenceSubject" required>
      </mat-form-field>
      <div class="checkbox-form">
        <mat-label>Konferenz sichtbar?</mat-label>
        <mat-checkbox [formControl]="conferenceVisible"></mat-checkbox>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Schließen</button>
    <button class="mat-raised-button mat-primary" (click)="createConference()">Erstellen</button>
  </mat-dialog-actions>
</div>
