<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Beschreibung</mat-label>
    <textarea maxlength="160" formControlName="desc" matInput required cdkTextareaAutosize></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Schließen</button>
  <button class="mat-raised-button mat-primary" (click)="editTicket()">Erstellen</button>
</mat-dialog-actions>
