.ticket-user {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 132px;
  height: 38px;
  .user-avatar {
    height: 32px;
    margin-right: 5px;
  }
  .user-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    .label {
      text-align: left;
      color: #B1B1B1;
      font-size: 14px;
    }
    .user-name {
      font-size: 16.4px;
    }
  }
}
