.ticket-user-display {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 132px;
  max-width: 200px;
  min-height: 38px;
  .user-avatar {
    height: 32px;
    margin-right: 5px;
  }
  .user-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
    .label {
      text-align: left;
      color: #b1b1b1;
      font-size: 14px;
    }
    .user-name {
      font-size: 16.4px;
      word-wrap: break-word;
    }
  }
}
