mat-card-content {
  margin: 2px;
  display: flex;
  flex-flow: column nowrap;
  padding-right: 15px;

  .conference-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
  }

  .conference-desc {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
  }

  .conference-icon {
    padding-right: 15px;
  }

  .conference-buttons {
    display: inline-flex;
  }

  .conference-ref {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    color: #405E9A;
    .ref-label {
      position: relative;
      left: -12px;
      border: 4px white solid;
      background-color: white;
      border-radius: 50%;
      line-height: 12px;
      color: black;
      font-weight: normal;
    }
  }
}

.attended-conference {
  font-weight: bold;
}

.normal-conference {
  background-color: #FFFFFF;
}

mat-icon {
  margin-right: 3px;
}

.open-icon {
  color: #405E9A;
}

.visibility-icon {
  color: #6D6D6D;
}

.delete-icon {
  color: #D90C0C;
}

.leave-icon {
  color: #FF9900;
}

.invisible {
  opacity: 50%;
}

.plenary {
  background-color: #405E9A;
}
