mat-card-content {
  margin: 2px;
  display: flex;
  flex-flow: column nowrap;
  .ticket-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
  }
  .ticket-desc {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 20px;
  }
  .ticket-details {
    margin-top: 5px;
    padding-left: 10px;
    height: 20px;
    font-size: 14px;
    color: #6D6D6D;
  }
  .ticket-users {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
  }
  .ticket-meta {
    alignment: left;
    width: 78px;
    text-align: left;
    border-left: solid 1px #B1B1B1;
    padding-left: 2px;
    .ticket-num {
      font-size: 14px;
      color: #B1B1B1;
    }
    .ticket-time {
      color: #6D6D6D;
      font-size: 11px;
    }
  }
  p {
    margin: 2px;
  }
}

app-ticket-assign {
  margin-right: 12px;
}

mat-icon {
  margin-right: 3px;
}

.ticket-icon {
  color: #405E9A;
}

.delete-icon {
  color: #D90C0C;
}

.edit-icon {
  color: #6D6D6D;
}

.invite-icon {
}
