button {
  margin:3px;
}

mat-dialog-content {
  max-height: 100%;
  overflow: hidden;

}

.current-conf {
  font-weight: bold;
}

mat-action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
