<div class="container">
  <div class="dialogTitle" matDialogTitle>Ticket Details</div>
   <mat-dialog-content style="max-height: 100%; overflow: hidden;">
    <mat-action-list *ngFor="let user of users | isPrivileged">
      <mat-list-item *ngIf="this.classroomService.isCurrentUserAuthorized()" >
        <button mat-flat-button (click)="assignTicket(user, data)">{{user.fullName}}</button>
      </mat-list-item>
    </mat-action-list>
   </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button *ngIf="this.classroomService.isCurrentUserAuthorized() && !classroomService.isSelf(data.creator)"
            color="accent" (click)="startCall(data.creator)">Zu Konferenz einladen</button>
    <button mat-flat-button *ngIf="this.classroomService.isInConference(data.creator)"
            color="accent" (click)="this.joinConference(data.creator)">Konferenz beitreten</button>
    <button mat-flat-button color="warn" *ngIf="this.classroomService.isCurrentUserAuthorized() || this.classroomService.isSelf(data.creator)">Ticket Schliessen</button>
  </mat-dialog-actions>
</div>

