<div class="menu-bar">
  <div class="menu-bar-section">
    <mat-icon>supervised_user_circle</mat-icon>
    {{ parseCourseRole(currentUser?.userRole) }}
  </div>

  <div class="menu-bar-section room-label">
    <mat-icon>meeting_room</mat-icon>
    <span class="room-name">{{ classroomInfo?.classroomName }}</span>
  </div>

  <div class="menu-bar-section" (click)="this.toggleMenu()">
    <div class="user-info" *ngIf="currentUser !== undefined">
      <ngx-avatar
        class="user-avatar"
        [bgColor]="
          this.userIconService.calculateColorCode(currentUser.fullName)
        "
        [name]="currentUser.fullName"
        [size]="32"
        initialsSize="2"
        cornerRadius="4"
        [round]="false"
        [textSizeRatio]="1.8"
        [src]="currentUser?.avatarUrl"
      ></ngx-avatar>
      {{ currentUser.fullName }}
    </div>
  </div>
</div>

<app-dropdown-menu
  *ngIf="menuVisible"
  [currentUser]="this.currentUser"
></app-dropdown-menu>
