.menu-bar {
  background-color: transparent;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.spacer {
  flex: 1 1 auto;
}
