@use 'src/colors';

.menu-bar {
  background-color: transparent;
  box-sizing: border-box;
  height: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);

  .menu-bar-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 5px 0 5px;
  }

  .user-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

mat-icon {
  /* Adjust these values accordingly */
  left: 0;
  right: 0;
}

.user-avatar {
  position: relative;
  margin-right: 8px;
}

.avatar-blue {
  background: #405E9A;
}
.avatar-green {
  background: #60CB7E;
}
.avatar-orange {
  background: #FD9A63;
}
.avatar-light-blue {
  background: #26B8B8;
}
