@use 'src/colors';

.menu-bar {
  background-color: transparent;
  box-sizing: border-box;
  height: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);

  .menu-bar-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 5px 0 5px;
  }

  .user-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

mat-icon {
  /* Adjust these values accordingly */
  left: 0;
  right: 0;
}

.user-avatar {
  position: relative;
  margin-right: 8px;
}

.avatar-blue {
  background: #405E9A;
}
.avatar-green {
  background: #60CB7E;
}
.avatar-orange {
  background: #FD9A63;
}
.avatar-light-blue {
  background: #26B8B8;
}

.menu-bubble {
  position: absolute;
  background: white;
  border-radius: .4em;
  border: 1px solid #B1B1B1;

  display: flex;
  flex-flow: column nowrap;
  right: 20px;
  top: 65px;
  padding: 5px;
}

.menu-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 85%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-bottom-color: #B1B1B1;
  border-top: 0;
  margin-left: -0.4em;
  margin-top: -0.5em;
}
