<div class="container">
  <app-menu-bar [currentUser]="currentUser" [classroomInfo]="classroomInfo"></app-menu-bar>
</div>

<div class="classroom-content">
  <app-side-drawer-menu label="Teilnehmer" orientation="left"></app-side-drawer-menu>
  <app-user-list [users]="this.users"
                 class="classroom-column">
  </app-user-list>
  <app-ticket-list [currentUser]="currentUser"
                   [tickets]="tickets"
                   class="classroom-column">
  </app-ticket-list>
  <app-side-drawer-menu label="Konferenzen" orientation="right"></app-side-drawer-menu>
</div>

<app-conferences [conferences]="this.conferences"
                 [currentUser]="this.currentUser"
                 class="conferences classroom-bottom">
</app-conferences>
