.classroom-content {

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  app-menu-bar {
    display: block;
    padding: 16px;
    z-index: 2;
    position: relative;
  }

  .classroom-body {
    display: flex;
    flex: 1;
    overflow: auto;
    flex-basis: max-content;
    flex-direction: row;

    .classroom-column {
      width: 50%;
      flex-grow: 1;
      display: block;
    }

    .drawer {
      margin-top: 20px;
    }
  }

}
