<div class="container">
  <app-menu-bar>
    <span class="spacer"></span>

    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() " (click)="createTicket()" matTooltip="Ticket erstellen"><mat-icon >live_help</mat-icon></button>
    <!--<button mat-icon-button color="primary" *ngIf="isAuthorized() && classroomService.isJoined()" (click)="createConference()" matTooltip="Konferenzeinstellungen"><mat-icon >duo</mat-icon></button>-->
    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() && !conferenceService.conferenceWindowOpen" (click)="this.conferenceService.createConference()" matTooltip="Konferenz öffnen"><mat-icon >videocam</mat-icon></button>
    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() && conferenceService.conferenceWindowOpen" (click)="this.conferenceService.closeConference()" matTooltip="Konferenz schliessen"><mat-icon >videocam_off</mat-icon></button>
    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() && !isInClassroom(this.auth.getToken().userId)" (click)="this.classroomService.showUser()" matTooltip="Nutzer sichtbar machen"><mat-icon >visibility</mat-icon></button>
    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() && isInClassroom(this.auth.getToken().userId)" (click)="this.classroomService.hideUser()" matTooltip="Nutzer unsichtbar machen"><mat-icon >visibility_off</mat-icon></button>
    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() && conferenceService.conferenceWindowOpen && !isInConferenceId(this.auth.getToken().userId)" (click)="this.classroomService.showConference()" matTooltip="Konferenz sichtbar machen"><mat-icon >lock_open</mat-icon></button>
    <button mat-icon-button color="primary" *ngIf="classroomService.isJoined() && conferenceService.conferenceWindowOpen && isInConferenceId(this.auth.getToken().userId)" (click)="this.classroomService.hideConference()" matTooltip="Konferenz unsichtbar machen"><mat-icon >lock</mat-icon></button>
    <button mat-icon-button class="warn" *ngIf="classroomService.isJoined()" (click)="leaveClassroom()" matTooltip="Online Übungsraum verlassen"><mat-icon >cancel</mat-icon></button>
  </app-menu-bar>
</div>
<div class="ticketOverview">
  <div class="ticketColumn users">
    <h3 >Online Nutzer</h3>
    <mat-list>
      <mat-card class="user" mat-list-item *ngFor="let user of this.users">
        <p class="user-item">{{user.fullName}}<span class="subtext-role"><sub>{{parseCourseRole(user.userRole)}}</sub></span></p>
        <span class="meta">
          <mat-icon *ngIf="isAuthorized() && this.auth.getToken().userId !== user.userId" class="material-icons call" color="accent" (click)="inviteToConference([user])">call</mat-icon>
          <mat-icon *ngIf="isInConference(user)" class="material-icons call" color="accent" (click)="this.classroomService.joinConference(user)">phone_callback</mat-icon>
          <!-- <mat-icon *ngIf="classroomService.isInConference(user) && !classroomService.hasOpenConference(user)" class="material-icons call" color="accent" (click)="joinConference(classroomService.isInConference(user).creator)">meeting_room</mat-icon> -->
        </span>
      </mat-card>
    </mat-list>
  </div>
  <div class="ticketColumn tickets">
    <h3>Offene Tickets</h3>
    <mat-list>
      <mat-card class="ticket-mat-card" mat-list-item (click)="assignTeacher(ticket)" *ngFor="let ticket of sortTickets(tickets); index as i"
                [ngClass]="{
                'unassigned': ticket.assignee === undefined,
                'selfassigned': ticket.assignee !== undefined && ticket.assignee?.userId === self.userId,
                'otherassigned': ticket.assignee !== undefined && ticket.assignee?.userId !== ticket.creator.userId && ticket.assignee?.userId !== self.userId
                }">
        <mat-card-content>
          <div class="grid-container">
            <div class="grid-item ticket-desc"><p>{{ticket.description}}</p></div>
            <div class="grid-item ticket-prio"><p>Priorität: <b>{{1}}</b></p></div>
            <div class="grid-item ticket-assignee"><p *ngIf="ticket.assignee?.userId !== ticket.creator.userId">Zugewiesen an: {{ticket.assignee?.fullName}}</p>
            </div>
            <div class="grid-item ticket-date"><p>Erstellt: {{ticket.createTime | date:"dd/MM/yyyy 'um' hh:mm"}}</p>
            </div>
            <div class="grid-item ticket-creator"><p>Ersteller: {{ticket.creator.fullName}}</p>
            </div>
            <div class="grid-item ticket-position"><p>Position: <b>{{i}}</b></p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>
</div>

