.container {
  display: block;
  padding: 16px;
  z-index: 2;
  position: relative;
}
.actions {
  margin: -15px;
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  .mat-flat-button {
    line-height: 30px;
    margin: 0 2.5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      height: 25px;
    }
  }
  span {
    height: 24px;
    margin-top: 2px;
  }
  .mat-icon {
    cursor: pointer;
  }
}

.classroom-content {
  height: 70%;
  flex-grow: 2;
  display: flex;
  flex-direction:row;

  .classroom-column {
    width:50%;
    flex-grow: 2;
    display: block;
  }
}

.classroom-bottom {
  grid-row: 99;
  grid-column: 1;
  vertical-align: bottom;
  display: block;
}

.spacer {
  flex: 1 1 auto;
}
