<h3>Konferenzen</h3>

<mat-list class="conference-list">
  <mat-card class="conference" *ngFor="let conference of conferences;"
            [ngClass]="{ 'joined-conference': attendedConferences.includes(conference) }">
    <mat-card-content>
      <div class="grid-container">
        <div class="grid-item conference-name"><p>{{conference.conferenceName}}</p></div>
        <div class="grid-item conference-creator"><p>{{conference.creator.fullName}}</p></div>
        <div class="grid-item conference-creation-time"><p>Seit: {{conference.creation | date:"dd/MM/yyyy 'um' HH:mm"}}</p></div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-list>
